body {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-image: linear-gradient(to bottom right, springgreen, lightskyblue);
    background-repeat: no-repeat;
    /*background-size: cover;*/
    font-family: Futura;
    font-size: 20px;
    cursor: url(../assets/iconmonstr-x-mark-7.svg), auto;

}

html{
    height: 100%;
    width: 100%;
    cursor: url(../assets/iconmonstr-x-mark-7.svg), auto;
}

.project-selection {
    position: fixed;
    bottom: 50%;
    text-align: center;
    color: black;
    font-family: Futura;
    width: 94%;
}


.weather-map{
    justify-content: center;
    height: 35%;
    width: 70%;
}

.display-4 {
    position: fixed;
    bottom: 10%;
    font-size: 85px;
    text-align: start;
    color: black;
    font-family: Futura;
    width: 100%;
}
.show {
    display: block;
}

.hide {
    display: none;
}


button:hover{
cursor: url(../assets/iconmonstr-x-mark-6.svg), auto;
}

#linkedIn:hover {
    cursor: url(../assets/iconmonstr-x-mark-6.svg), auto;
}

a:hover{
    cursor: url(../assets/iconmonstr-x-mark-6.svg), auto;
}
@media screen and (max-width:474px){
    .welcome-small {
        display:block;
    }

}
@media screen and (min-width:475px){
    .welcome-small {
        display:none;
    }

}

@media screen and (max-width:474px){
    .welcome {
        display:none;
    }

}
@media screen and (min-width:475px){
    .welcome {
        display:block;
    }

}








